body{
    background-image: url(./images/motif-de-dos-1920x1080.png);}

.logo{
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    height: 65vh;}

/*** Connexion ***/

.index{
    display: flex;
    justify-content: center;
    margin: 10vh;
    border: solid 0.5vh;
    width: fit-content;
    padding: 1vh;}

.rev{
    display: flex;
    justify-content: center;
    margin: 10vh;
    border: solid 0.5vh;
    width: fit-content;
    padding: 1vh;}

table{
    display: inline-block;}

form[id=general] {
    width:55vh;
    padding: 5vh;
    border: 1vh solid black;
    margin: auto;
    background: whitesmoke;
    text-align: center;
    margin-top: 5vh;}

/* inputs */

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;}

/* style des buttons */

input[name=submit] {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;}

input[name=submit]:hover {
    background-color: white;
    color: black;
    border: 1px solid black;}

/*** Connexion ***/

/*** Navigateur ***/

nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 85px;
    margin: 0;
    flex-wrap: wrap;
    background-color: rgba(226, 196, 24, 0.301)  ;
    box-shadow: 5px 5px 5px black;
    list-style-type: none;}

ul{
    display: flex;
    align-items: center;}

li {
    float: right;
    padding-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    list-style: none;}

#logo-navbar{
    width: 8vh;
    height: auto;}

li a {
    display: block;
    align-items: center;
    color: black;
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;}

/*** Navigateur ***/

/*** Footer ***/

footer img{
    margin-top: 8vh;
    display: flex;
    justify-content: flex-end;
    opacity: 0.5;
    height: 15vh;}

/*** Footer ***/

/*** Message ***/

#erreur {
    border: 10px;
    background-color: red;
    color: white ;
    display: flex;
    justify-content: center;
    width: fit-content;
    height: 4vh;
    margin-left: 81vh;}

/*** Message ***/

/*** data ***/

.data{
    border: 0.5vh solid;
    width: fit-content;
    margin-left: 90vh;
    color: white;
    display: flex;
    justify-content: center;}

/*** data ***/

/*** titre ***/

.titre_user{
    text-shadow: 2vh 1vh 0.5vh gray;
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 5vh;}

.info{
    width:55vh;
    padding: 5vh;
    border: 1vh solid black;
    margin: auto;
    background: whitesmoke;
    text-align: center;
    margin-top: 5vh;}

/*** titre ***/

/*** mobil ***/
@media screen and (min-width: 812px) {
    
.drop {
    display: none;}
}

@media screen and (max-width: 813px) {

/* acceuil */
main img{
    height: 40vh;}

/* menu */
.nav {
    display: none;}

.dropbutton {
  background-color: goldenrod;
  padding: 2vh;
  border: none;
  cursor: pointer;
  position: relative;
  margin-top: 2vh;}

.dropbutton:hover{
    float: right;}

.drop {
  position: relative;
  display: inline-block;}

.drop:hover > .dropbutton {
  width: 93vw;}

.drop a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;}

.container-button {
  display: none;
  text-decoration: none;
  background-color: darkgoldenrod;
  min-width: 218px;
  z-index: 1;
  width: 50vw;}

.drop:hover .container-button {
  display: block;
  width: 93vw;}
}